/*COLOR UTILITY CLASSES */
.dark-text {
  color: $dark;
}

.dark-bg {
  background-color: $dark;
}

.dark-blue-text {
  color: $dark-blue;
}

.dark-blue-bg {
  background-color: $dark-blue;
}

.gray500-text {
  color: $gray-500;
}

.gray500-bg {
  background-color: $gray-500;
}

.gray400-text {
  color: $gray-400 !important;
}

.gray400-bg {
  background-color: $gray-400;
}

.gray300-text {
  color: $gray-300;
}

.gray300-bg {
  background-color: $gray-300;
}

.gray200-text {
  color: $gray-200;
}

.gray200-bg {
  background-color: $gray-200;
}

.gray100-text {
  color: $gray-100;
}

.gray100-bg {
  background-color: $gray-100;
}

.gray-blue-text {
  color: $gray-blue;
}

.gray-blue-bg {
  background-color: $gray-blue;
}

.orange-text {
  color: $orange;
}

.orange-bg {
  background-color: $orange;
}

.dark-orange-text {
  color: $dark-orange;
}

.dark-orange-bg {
  background-color: $dark-orange;
}

.light-orange-text {
  color: $light-orange;
}

.light-orange-bg {
  background-color: $light-orange;
}

/*FONT FAMILY UTILITY CLASSES*/
.title-font {
  font-family: $title-font;
}

.alternative-font {
  font-family: $alternative-font;
}

.serif-font {
  font-family: $serif-font;
}

/*FONT WEIGHTS*/
.thinest {
  font-weight: $thinest;
}

.thin {
  font-weight: $thin;
}

.regular {
  font-weight: $regular;
}

.bold {
  font-weight: $bold;
}

.boldest {
  font-weight: $boldest;
}

/*LAYOUT*/
.w100{
  width: 100%;
}

/*Other utility classes*/
.no-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}


/*VUEJS FADE TRANSITIONS*/
.fade-enter-active {
  transition: opacity .7s;
}

.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 4s;
}

.v-enter,
.v-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}