/*COLOR VARIABLES*/
$dark-blue: #0e0c16;
$dark: #263238;
$gray-blue: #5e7682;
$gray-500: #3e3e41;
$gray-400: #747679;
$gray-300: #d4d4d4;
$gray-200: #f6f6f6;
$gray-100: #fdfdfd;
$orange: #ff6300e3;
$dark-orange: #d93d00;
$light-orange: #ff9c4b;
$purple: #3f51b5;
$light-purple: lighten($purple, 25%);
$light-violet: #6b759c;

/*GLITCH COLORS*/
$primary-glitch-color: $orange;
$secondary-glitch-color: $light-orange;
$shadow-glitch-color: #ff620080;
$shadow2-glitch-color: #ff00008e;

/*ISOMETRIC ICONS COLORS*/
@function setBorderColors($color, $side) {
  @if $side==left {
    @return lighten($color, 22%);
  } @else {
    @return lighten($color, 8%);
  }
}

/*Default tile*/
$tile-color: $light-violet;
$tile-lBorder-color: setBorderColors($tile-color, left);
$tile-bBorder-color: setBorderColors($tile-color, bottom);

/*Tile technologies*/
$react-color: #61dbfb;
$ts-color: #2F74C0;
$sass-color: #c66395;
$cypress-color: #47474A;
$django-color: #2AA473;
$docker-color: #2497ED;

/*Tile borders*/
$react-lBorder-color: setBorderColors($react-color, left);
$react-bBorder-color: setBorderColors($react-color, bottom);
$ts-lBorder-color: setBorderColors($ts-color, left);
$ts-bBorder-color: setBorderColors($ts-color, bottom);
$sass-lBorder-color: setBorderColors($sass-color, left);
$sass-bBorder-color: setBorderColors($sass-color, bottom);
$cypress-lBorder-color: setBorderColors($cypress-color, left);
$cypress-bBorder-color: setBorderColors($cypress-color, bottom);
$django-lBorder-color: setBorderColors($django-color, left);
$django-bBorder-color: setBorderColors($django-color, bottom);
$docker-lBorder-color: setBorderColors($docker-color, left);
$docker-bBorder-color: setBorderColors($docker-color, bottom);

/*ERRORS*/
$error-text-color: #c91111;

/*FONT FAMILIES*/
$title-font: "Montserrat";
$alternative-font: "Nunito Sans";
$serif-font: "Fira Code";

/*FONT WEIGHTS*/
$thinest: 100;
$thin: 300;
$regular: 400;
$bold: 700;
$boldest: 900;

/*LIQUID BUTTON*/
$btn-liquid-bg: #cbc7c8;
$btn-liquid-shadow: rgba(
  $btn-liquid-bg,
  0.2
); //Lower values when bg is a light color

/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Nunito+Sans:wght@100;300;400;700;900&family=Fira+Code:wght@300;400;700&display=swap");
@import "./utility_classes";
@import "./mixins";
@import "./global";
