/*COLOR VARIABLES*/
$dark: #263238;
$dark-blue: #000510;
$dark-gray: #3e3e41;
$gray: #878a8f;
$gray-blue: #5e7682;
$light: #d4d4d4;
$orange: #ff6300e3;
$light-orange: #ff9c4b;
$washed-orange: #ff620080;
$washed-red: #ff00008e;

/*GLITCH COLORS*/
$primary-glitch-color: $orange;
$secondary-glitch-color: $light-orange;
$shadow-glitch-color: $washed-orange;
$shadow2-glitch-color: $washed-red;

/*FONT FAMILIES*/
$title-font: "Montserrat";
$alternative-font: "Nunito Sans";
$serif-font: "Fira Code";

/*FONT WEIGHTS*/
$thinest: 100;
$thin: 300;
$regular: 400;
$bold: 700;
$boldest: 900;

/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Nunito+Sans:wght@100;300;400;700;900&family=Fira+Code:wght@100;300;400;700;900&display=swap");
@import './utility_classes';

